@import "src/assets/styles/variables";

#workflow-datatable {
  border-radius: 0rem;
  position: relative;
  top: 0px;
  background: $white-color;
}

.table-container {
  overflow-y: hidden;
  overflow-x: auto;
}
.input-saisie {
  outline: none;
  border: 1px solid blue;
  border-radius: 10px;
  text-indent: 10px;
  padding: 5px 0px;
  width: 100%;
}

.error-saisie {
  border: 1px solid red;
}

.flex-start {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  left: 0;
}
