<!--<router-outlet>-->
<!--  -->
<!--</router-outlet>-->

<div class="container-fluid" style="height: 100%; padding-top: 0px; padding-bottom: 0px">
  <div class="row" style="position: relative; left: -10px;height: 100%">
    <div class="col-md-3 position-fixed" style="background-color: #F6F6F8; height: 100%">
      <app-search
        [label]="'Nom de l\'utilisateur'"
        [placeholder]="'Nom de l\'utilisateur'"
        [searchable]="true"
        (valueEmited)="searchUser($event)"
      >
      </app-search>
      <div class="auto-complete-card">
        <ul>
          <li *ngFor="let user of users.slice(0,3)"  >{{user.nom}}</li>
        </ul>
      </div>
    </div>


  </div>


</div>
