//colors
$label-color: #00008c;
$white-color: #FFFFFF;
$blue-color: #0000ff;
$gray-color: #666D92;
$gray-light-color: #EDEDF2;
$white-light-color: #F6F6F8;
$hight-transparent-color: #f2f2ff;
$brand-danger: #d9534f;

//fonts

