<div class="psv-recap-table-container card-accordion" >
<!--  [ngClass]="{'expended': expend, 'psv-recap-table-container': true, 'card-accordion': true}"-->
  <ngx-datatable
    id="workflow-recap-datatable"
    class="material"
    [ngClass]="{'expended': expend}"
    [rows]="rows"
    [columnMode]="ColumnMode.force"
    [columns]="columns"
    [reorderable]="false"
    [headerHeight]="headerHeight"
    [footerHeight]="footerHeight"
    [rowHeight]="rowHeight"
    [scrollbarH]="scrollbarH"
    [scrollbarV]="scrollbarV">

    <ngx-datatable-column [width]="300" [minWidth]="300" [sortable]="false" [resizeable]="false">

      <ng-template ngx-datatable-header-template>
          <span  tabindex="0" title="{{ 'TABLE.HEADER.DESIGNATION' | translate }}"
                class="datatable-header-cell-label  draggable fw-bold ">
            {{ 'TABLE.HEADER.DESIGNATION' | translate }}
          </span>
      </ng-template>
      <ng-template  let-row="row" ngx-datatable-cell-template>
            <span>
            {{ row.designation }}
            </span>
      </ng-template>
    </ngx-datatable-column>
    <ng-container *ngIf="expend">
      <ng-container *ngFor="let day of days">
        <ngx-datatable-column [minWidth]="50"  [maxWidth]="80" [sortable]="false" [resizeable]="false">

        <ng-template ngx-datatable-header-template>
          <span [ngClass]="{'week-end': day.week_end}" tabindex="0" [title]="day.value"
                style="writing-mode: vertical-rl; transform: rotate(199deg);white-space: nowrap;"
                class="datatable-header-cell-label draggable fw-bold ">
            {{ day.value }}
          </span>
        </ng-template>
        <ng-template   let-row="row"  ngx-datatable-cell-template>
            <span [ngClass]="{'week-end': day.week_end}" *ngFor="let item of row.summaryItems">
              <span *ngIf="item.date === day.value || item.date === day.value + '.' ">
               {{item.quantity ? item.quantity : ''}}
              </span>
            </span>
          </ng-template>
        </ngx-datatable-column>
      </ng-container>
    </ng-container>


    <ngx-datatable-column [width]="100" [minWidth]="100" [sortable]="false" [resizeable]="false">

      <ng-template ngx-datatable-header-template>
          <span tabindex="0" title="{{ 'TABLE.HEADER.TOTAL_MONTH' | translate }}"
                class="datatable-header-cell-label draggable fw-bold ">
            {{ 'TABLE.HEADER.TOTAL_MONTH' | translate }}
          </span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
            <span>
            {{ row.totalMonthQte }}
            </span>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column [width]="100" [minWidth]="100" [sortable]="false" [resizeable]="false">

      <ng-template ngx-datatable-header-template>
          <span tabindex="0" title="{{ 'TABLE.HEADER.SALSES_UNIT' | translate }}"
                class="datatable-header-cell-label draggable fw-bold ">
            {{ 'TABLE.HEADER.SALSES_UNIT' | translate }}
          </span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span>
          {{ row.uniteVente }}
        </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [width]="100" [minWidth]="100" [sortable]="false" [resizeable]="false">

      <ng-template ngx-datatable-header-template>
          <span tabindex="0" title="{{ 'TABLE.HEADER.NET_PRICE_EXCLUDEING_TAX' | translate }}"
                class="datatable-header-cell-label draggable fw-bold ">
            {{ 'TABLE.HEADER.NET_PRICE_EXCLUDEING_TAX' | translate }}
          </span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
            <span>
            {{ row.priceNetHT | currency: 'EUR' }}
            </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [width]="100" [minWidth]="100" [sortable]="false" [resizeable]="false">

      <ng-template ngx-datatable-header-template>
          <span
            tabindex="0"
            title="{{ 'TABLE.HEADER.TOTAL_PRICE' | translate }}"
            class="datatable-header-cell-label draggable fw-bold "
          >
            {{ 'TABLE.HEADER.TOTAL_PRICE' | translate }}
          </span>
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span>{{ row.totalPrice | currency: 'EUR' }}</span>
      </ng-template>
    </ngx-datatable-column>


        <ngx-datatable-footer id="workflow-datatable-footer">
          <ng-template ngx-datatable-footer-template>
            <div class="pager-container">
              <div class="pager-pagination">
                <datatable-pager
                  [pagerLeftArrowIcon]="'icon-chevron-left'"
                  [pagerRightArrowIcon]="'icon-chevron-right'"
                  [pagerNextIcon]="'icon-chevrons-right'"
                  [pagerPreviousIcon]="'icon-chevrons-left'"
                  [page]="currentPage"
                  [size]="rowsPerPage"
                  [count]="totalRows"
                  [hidden]="!((totalRows / rowsPerPage) > 1)"
                  (change)="onPage($event)"
                >
                </datatable-pager>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-footer>
  </ngx-datatable>
</div>
